@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

label {
  display: block;
  padding: 10px 0px;
  font-size: 20px;
  line-height: 28px;
}
.infoFlexContainer {
  padding: 0px 0px 10px 0px;
}
.Infocontainer {
  background-color: #fff;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 0px 0px 9px 0px;
}
.kycContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Archivo", sans-serif;
}
h3 {
  padding: 20px 0px 0px 20px;
  font-size: 28px;
  text-transform: uppercase;
}

.flexItem1{
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  justify-content: space-around;
}
.flexItem2{
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  justify-content: space-around;
}

.flexItem1 input {
  background-color: #f3f3f3;
  padding: 14px 0px;
  border: none;
  border-radius: 5px;
  width: 630px;
}

.flexItem2 input {
  background-color: #f3f3f3;
  padding: 14px 0px;
  border: none;
  border-radius: 5px;
  width: 630px;
}
td input {
  background-color: #f3f3f3;
  padding: 14px 0px;
  border: none;
  border-radius: 5px;
  width: 340px;
}

.flexItem1 div {
  padding: 5px 0px;
}
.flexItem2 div {
  padding: 5px 0px;
}
.proposedContainer input {
  width: 96%;
  background-color: #f3f3f3;
  padding: 15px 0px;
  border: none;
  border-radius: 5px ;
  margin: 0px 27px;
}

h5 {
  font-size: 17px;
}
.url input {
  background-color: #f3f3f3;
  padding: 14px 0px;
  border: none;
  border-radius: 5px;
  width: 300px;
}
.kycDocumentsContainer {
  padding: 4px 19px;
  /* width: 56%; */
}
.declarationContainer {
  padding: 16px 0px;
  line-height: 27px;
}
.declarationContainer h4 {
  text-transform: uppercase;
  padding: 3px 0px;
}
.submit-btn {
  text-align: center;
  padding: 29px 0px;
}
.submit-btn button {
  padding: 9px 57px;
  font-size: 22px;
  background-color: #002142;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}
.error{
  color: red;
}
select{
  background-color: #f3f3f3;
  padding: 14px 0px;
  border: none;
  border-radius: 5px;
  width: 630px;
}


.CompanyContactDetailContainer{
  background-color: #fff;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 0px 0px 9px 0px;
}
.CompanyContactFlexContainer{
  display: flex;
  justify-content: space-between;
  padding: 22px 0px;
  margin: auto;
  padding: 12px 20px;
  gap: 25px;
  flex-wrap: wrap;
}
.CompanyContactFlexContainer  input{
  background-color: #f3f3f3;
  padding: 14px 0px;
  border: none;
  border-radius: 5px;
  width: 630px;
}
.CompanyContactDetailContainer  input{
  background-color: #f3f3f3;
  padding: 14px 0px;
  border: none;
  border-radius: 5px;
  width: 630px;
}

/* Tab View */
@media (min-width: 768px) and (max-width: 1900px) {
  .flexItem1 input {
    width: 450px;
  }
  .flexItem2 input {
    width: 450px;
  }
  label {
    font-size: 16px;
  }
  td input {
    width: 160px;
  }
  .proposedContainer input {
    width: 92%;
    margin: 0px 22px;
 
}
select{
  width: 450px;
}
}

/* Mobile View */

@media (min-width: 300px) and (max-width: 750px) {
  td input {
    width: 115px;
  }
  .Infocontainer{
    width: 100%;
  }
  .flexItem1 input {
    width: 357px;
  }
  .flexItem2 input {
    width: 357px;
  }
  .proposedContainer{
    width: 90%;
  }
  select{
    width: 357px;
  }
}
